.item {
    margin: 0.5rem ;
    padding: 3rem;
    border: 1px solid transparent;
    border-radius: 10px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
}

.item-1 {
    background: crimson;
}

.item-2 {
    background:rgb(50, 50, 180);
}

.item-3 {
    background:rgb(19, 114, 19);
}

.item-4 {
    background: rgb(119, 26, 119);
}

.item-5 {
    background: rgb(236, 233, 19);
}