@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center   
}

h1 {
    font-family: 'Roboto' , sans-serif;
    color: #ffffff;
    position: relative;
    z-index: 1;
    text-align: center;
    height: 150spx;
    width: 200px;
    margin: auto;
    line-height: 10
}

.box {
  width: 600px;
  height: 400px;
  background-color: black;
  margin: 20px;
  position: relative;
  z-index: -1;
 }

 /* .corner-border, .bottom-corner {
    margin-top: 30px;
    margin-bottom: 30px;
/*     float: left */
  

 /* .rcorner-border, .lbottom-corner {
    margin-top: 30px;
    margin-bottom: 30px;
    
  
  }  */

  .corner-border::after {
    content:'';
    position: absolute;
    background-color: red;
    width: 3px;
    height: 20%;
    top: 80px;
    left: 80px;
/*     z-index: 1 */
   
  }
  
  /* horizontal line */
  .corner-border::before{
    content:'';
    position: absolute;
    background-color: red;
    width: 15%;
    height: 3px;
    top: 80px;
    left:80px;
   
  }  

.bottom-corner::after {
  content:'';
  position: absolute;
  background-color: red;
  width: 3px;
  height: 20%;
  bottom: 80px;
  right:80px;
 
}
/* horizontal line */
.bottom-corner::before {
  content:'';
  position: absolute;
  background-color: red;
  width: 15%;
  height: 3px;
  bottom: 80px;
  right: 80px; 
}

.rcorner-border::after {
    content:'';
    position: absolute;
    background-color: red;
    width: 3px;
    height: 20%;
    top: 80px;
    left: 80px;
    z-index: 1
   
  }
  
  /* horizontal line */
  .rcorner-border::before{
    content:'';
    position: absolute;
    background-color: red;
    width: 15%;
    height: 3px;
    top: 80px;
    left:80px;
   
  }  

  .lbottom-corner::after {
    content:'';
    position: absolute;
    background-color: red;
    width: 3px;
    height: 20%;
    bottom: 80px;
    right:80px;
   
  }
  /* horizontal line */
  .lbottom-corner::before {
    content:'';
    position: absolute;
    background-color: red;
    width: 15%;
    height: 3px;
    bottom: 80px;
    right: 80px; 
  }

  